.DS_Store
results*.csv
.idea/
project/
target/
*.iml
*.class
classes_gen*
source_gen*
.cache
.classpath
.project
.settings/
/bin/
ext/gen
build
out
*.project
*.classpath
*.idea
*.iml
.gradle/
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
!libs/jastadd2.jar
